<section name="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Timesheet</a>


        @if (User.Identity.IsAuthenticated)
        {
            <ul class="navbar-nav d-flex flex-row ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Hello <span id="Username"></span></a>
                </li>


                <li class="nav-item dropdown  ml-4">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Role
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" role-id="1" href="#">Admin</a>
                        <a class="dropdown-item" role-id="2" href="#">Manager</a>
                        <a class="dropdown-item" role-id="3" href="#">User</a>
                    </div>

                </li>

                <li class="nav-item ml-4">
                    @Html.ActionLink("Logout", "Logout", "Account", null, new { @class = "nav-link" })
                </li>

            </ul>

        }
    </nav>
    @if (User.Identity.IsAuthenticated)
    {

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Navigation</a>
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Timesheets
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">New Timesheet</a>
                            <a class="dropdown-item" href="#">View TimeSheet</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Settings
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Change Password</a>

                        </div>
                    </li>

                </ul>

            </div>
        </nav>
    }
</section>
