html{
    height:100%;
}

body{
    min-height:100%;
    display:flex;
    flex-direction:column;
}

.section-header,.section-footer{
    flex-shrink:0;

}

.body-content{
    flex-grow:1;
}

#DisplayProjectsBody
{
    margin-top:3rem;
}

.footer {
    width: 100%;
    text-align: center;
    margin-top: auto;
}

.btn-submit{
    width:30%;
    display:block;
    margin:1rem auto;
   
}

.commonForm{
    margin:3rem;
}

.spinner{
    width:100%;
    display:block;
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    display:none;
}

.spinner-border{
    display:block !important;
    margin:0 auto !important;
}
