
    <form id="ChangeUserPasswordForm" class="commonForm">
        <h2 class="text-center">Change User Password</h2>
        <br />
        <label>Employee Id</label>
        <input type="text" name="EmployeeId" placeholder="Employee Id"  class="form-control"/>
        <br />
        <label>New Password</label>
        <input type="password" name="Password" placeholder="New Password" class="form-control" />
         <br />
        <input type="submit" class="btn btn-primary btn-submit"  value="Save" />
    </form>

<script>
     $(function () {
        $('#ChangeUserPasswordForm').validate({

            rules: {
                Employee_Id: { required: true },
                Password: "required",
           




            },
            messages: {
                 Employee_Id: { required: "Please enter EmployeeId" },
                Password: "Please enter New Password",


            },
            errorClass: "text-danger",
            errorPlacement: function (error, element) {
                if (element.attr('name') == "Status")
                    error.insertAfter('.radiobuttons');
                else {
                    error.insertAfter(element);
                }
            },
            highlight: function (element, errorClass, validClass) {
                $(element).removeClass(errorClass);
            },

            submitHandler: function (form) {
                var formdata = $(form).serialize();
              $.ajax({
                url: '@Url.Action("ChangeUserPassword","Admin")',
                type: 'POST',
                data: formdata,
                success: function (response) {
                    if (response) {
                        $('.alert').css("display", "block")
                       
                        $('#DisplayChangePassword').html(response);
                        $(form)[0].reset();
                   
                        $('body,html').scrollTop(0);
                    }
                    else {
                        alert('failure')

                    }
                },
                failure: function (response) {
                    alert('failure');
                }
            })

            }
        })
    })
</script>