@model TimesheetApp.Models.CreatProjectViewModel

@{
    ViewBag.Title = "Create Project";
}


<div style="display:none" class="alert alert-success" role="alert">
    <strong>Success!  </strong>Project Created.
    <button type="button" class="close" data-hide="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div id="DisplayCreateProject">

    @{Html.RenderPartial("_CreateProject");}

</div>






