@model IEnumerable<TimesheetApp.Models.ProjectMembersViewModel>
@{
    bool added = false;
    if (ViewBag.IsAdded != null)
    {
        added = true;
    }

    int count = Model.Where(x => x.IsDeleted == false).Count();
}



@if (!added)
{
    if (count > 0 && Model != null)
    {
        <table class="table table-hover" id="ProjectMemberTable">
            <thead>
                <tr>

                    <th scope="col">Employee Id</th>
                    <th scope="col">Employee Name</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {

                    if (!item.IsDeleted.Value)
                    {
                        <tr>

                            <td>@item.Employee_Id</td>
                            <td>@item.Employee_Name</td>
                            <td><button type="button" class="btn btn-danger btn-remove" data-toggle="modal" data-target="#MyDeleteModal" data-id="@item.Id" project-name="@item.Project_Name" >Remove</button></td>
                        </tr>
                    }
                }



            </tbody>
        </table>
    }

    else
    {
        <h3 class="text-center">No data available</h3>
    }
}
else
{

    <h3>member already added</h3>

}
<script>
    var id,projname;

$(".btn-remove").click(function () {
       
        var item = $(this);
    id = item.attr("data-id");
    projname = item.attr("project-name");

       




})

    $('#ProjectMemberTable').DataTable();


</script>