@model  IEnumerable<TimesheetApp.Models.DisplayProjectsViewModel>

@{
    ViewBag.Title = "Display Projects";
}

<h2 class="text-center">Projects</h2>


<input type="text" class="form-control" placeholder="Project Name" id="ProjectSearch" />



<div id="DisplayProjectsBody">
    @{Html.RenderAction("GetProjectsByName", new { Project_Name = "" });}

</div>

<div class="modal fade" id="MyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Project</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalbody">
             
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btn-UpdateProject">Save changes</button>
            </div>
        </div>
    </div>
</div>


<script>
    $('#ProjectSearch').keyup(function () {
        var data = $(this).val();
        $.ajax({

            url: '@Url.Action("GetProjectsByName","Admin")',

            data: {Project_Name:data},
            success: function (response) {
                if (response == null) {
                    $('#DisplayProjectsBody').html("No Projects with search query")
                }

                else {

                    $('#DisplayProjectsBody').html(response)
                }


            },
            failure: function (response) {
                alert('error')
            }

        })

    })

       $('#btn-UpdateProject').click(function () {
        var formdata = $('#ProjectDetailForm').serialize();
    
        

        $.ajax({
            url: '@Url.Action("Edit_Projects","Admin")',
            type: 'POST',
            data: formdata,
            success: function (response) {
                $('#MyModal').modal("hide");
             
                $('body').removeClass('modal-open')
                $('.modal-backdrop').remove()
                $('#DisplayProjectsBody').html(response)
               
               
                

            },
            faliure: function () {
                alert('error');
            }
            

        })
    })
  

</script>