@model  IEnumerable<TimesheetApp.Models.DisplayProjectsViewModel>

@{
    ViewBag.Title = "Display Projects";
}

<div style="display:none" class="alert alert-success" id="DeleteProjectAlert" role="alert">
    <strong>Success! </strong>Project Deleted.
    <button type="button" class="close" data-hide="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div style="display:none" class="alert alert-success" id="EditProjectAlert" role="alert">
    <strong>Success! </strong>Changes Made Successfully.
    <button type="button" class="close" data-hide="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>


<h2 class="text-center">Projects</h2>


@*<input type="text" class="form-control" placeholder="Project Name" id="ProjectSearch" />*@



<div id="DisplayProjectsBody">
    @{Html.RenderAction("GetProjectsByName", new { Project_Name = "" });}

</div>

<div class="modal fade" id="MyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Project</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalbody">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btn-UpdateProject">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="MyDeleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Project</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalbody">
                Are you sure you want to delete?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" onclick="DeleteProject()"  class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="hiddenid" />



<script>
    @*$('#ProjectSearch').keyup(function () {
        var data = $(this).val();
        $.ajax({

            url: '@Url.Action("GetProjectsByName","Admin")',

            data: {Project_Name:data},
            success: function (response) {
                if (response == null) {
                    $('#DisplayProjectsBody').html("No Projects with search query")
                }

                else {

                    $('#DisplayProjectsBody').html(response)
                }


            },
            failure: function (response) {
                alert('error')
            }

        })

    })*@

     $('#btn-UpdateProject').click(function () {
        var formdata = $('#ProjectDetailForm').serialize();



        $.ajax({
            url: '@Url.Action("Edit_Projects","Admin")',
            type: 'POST',
            data: formdata,
            success: function (response) {
                $('#MyModal').modal("hide");

                $('body').removeClass('modal-open')
                $('.modal-backdrop').remove()
                $('#DisplayProjectsBody').html(response)
                $('#EditProjectAlert').css('display', 'block');
                 $('#DeleteProjectAlert').css('display', 'none');
                $('html,body').scrollTop(0);




            },
            faliure: function () {
                alert('error');
            }


        })
       })

    function DeleteProject() {
        var data = $('#hiddenid').val();
           $.ajax({
               url: '@Url.Action("DeleteProject","Admin")',
               type: 'POST',
               data: {ProjectName:data},
               success: function (response) {
                 $('#MyDeleteModal').modal("hide");

                $('body').removeClass('modal-open')
                   $('.modal-backdrop').remove()
                   $('#EditProjectAlert').css('display','none')
                   $('#DeleteProjectAlert').css('display', 'block');

                   $('#DisplayProjectsBody').html(response)
                   $('html,body').scrollTop(0);




            },
            faliure: function () {
                alert('error');
            }


        })

    }

    
        

       
       


</script>