@model  IEnumerable<TimesheetApp.Context.Timesheets>

@{
    ViewBag.Title = "View Timesheet";
}



<div id="displaytimesheets">

@{Html.RenderPartial("_ViewTimesheet", Model);}

</div>



<!-- Modal -->
<div class="modal fade" id="MyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Timesheet</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalbody">
               
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" id="btn-UpdateTimesheet">Save changes</button>
            </div>
        </div>
    </div>
</div>



<script>
    $('.Edit-Timesheet').click(function () {
        var dataid = $(this).attr('data-id');
        console.log(dataid);
        $.ajax({

            url: '@Url.Action("Edit_Timesheet","User")',
            data: { Id: dataid },
            success: function (response) {
              
                $('#modalbody').html(response);
                $('#MyModal').modal("show");
            },
            faliure: function () {
                alert('error');
            }




        })
    })

    $('#btn-UpdateTimesheet').click(function () {
        var formdata = $('#EditTimesheetForm').serialize();
        console.log(formdata);

        $.ajax({
            url: '@Url.Action("Edit_Timesheet","User")',
            type: 'POST',
            data: formdata,
            success: function (response) {
                $('#MyModal').modal("hide");
                $('body').removeClass('modal-open')
                $('.modal-backdrop').remove()
                $('#displaytimesheets').html(response)
               
               
                

            },
            faliure: function () {
                alert('error');
            }
            

        })
    })

    $('.Delete-Timesheet').click(function () {
        var dataid=$(this).attr('data-id');
        console.log(dataid);
        $.ajax({
            url: '@Url.Action("Delete_Timesheet","User")',
            type: 'POST',
            data: {Id:dataid},
            success: function (response) {
                $('#MyModal').modal("hide");
                $('body').removeClass('modal-open')
                $('.modal-backdrop').remove()
                $('#displaytimesheets').html(response)
               

            },
            faliure: function () {
                alert('error');
            }
            

        })
    })

</script>