
@model TimesheetApp.Models.RegisterViewModel

@{
    ViewBag.Title = "Register";



    //SelectList roles = new SelectList(ViewBag.Roles, "Role_Id", "Role_Name");
    //SelectList technologies = new SelectList(ViewBag.Technologies, "Technology_Id", "Technology_Name");

}


<div style="display:none" class="alert alert-success" role="alert">
    <strong>Success!</strong> Registration Successful.
    <button type="button" class="close" data-hide="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div id="DisplayRegisterForm">

    @{Html.RenderPartial("_Register");}

</div>

<script>
      $(function () {
      
    $("[data-hide]").on("click", function(){
        $("." + $(this).attr("data-hide")).hide();
    });
});
</script>


